.search-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 7vh;
  border-radius: 3px;
  border: 1px solid grey;
}

.search-bar > input {
  flex: 4;
}

.search-bar > .add-project, .search-bar > .timer, .search-bar > button {
  flex: 1;
}
