.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: aqua;
}

.body {
  width: 100%;
  /*height: 80%;*/
  display: flex;
  margin-top: 9% ;
}

.body > .side-bar{
  /*flex: 1;*/
  background-color: aliceblue;
  width: 20vw;
}
.body > .others{
  /*width: 100%;*/
  /*flex: 5;*/
  /*background-color: azure;*/
}
